<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <%- include('partials/header') -%>
  </head>

  <body>
    <div class="container">
      <h1>Compose</h1>
      <form action="/compose" method="post">
        <div class="form-group">
          <label for="input">Title</label>
          <input class="form-control" type="text" name="title" id="titleBox" autocomplete="off">
          <label for="input">Post</label>
          <textarea class="form-control" rows="5" type="text" name="postBody" id="postBox" autocomplete="off"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
      </form>
    </div>
    <%- include('partials/footer') -%>
  </body>
</html>

